.header{
    height: 300px;
    position: relative;

}
.header img{
    width: 100vw;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    opacity: 0.3;
}
.heart{
  color: red;
}
.food{
  color: rgb(206,185,12);
}
.typeWriter{
  font-size: 60px;
  position: absolute;
  top: 30%;
  left: 15%;
  color:  var(--main-color);
  font-weight: bold;
  padding-top: 40px;
}


@media screen and (min-width : 481px) and (max-width : 768px)  {
  .header img{
    height: 45%;
    max-width: 100%;
    z-index: -1;
}
.typeWriter{
  font-size: 28px;
  position: absolute;
  top: 0;
  left: 10%;
  font-weight: bold;
}
}
@media screen and (max-width : 480px){
  .header img{
    height: 45%;
    max-width: 100%;
    z-index: -1;
}
.typeWriter{
  font-size: 25px;
  position: absolute;
  top: 0;
  left: 10%;
  line-height: 1.5;
}

}